<%- include('partials/_header') %>

<div class="container">
    <div class="row mt-5">
        
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="post" enctype="multipart/form-data">
                        <div class="from-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="from-group">
                            <label for="categoria">Categoría:</label>
                            <select name="categoria" class="form-control">
                                <option value="paleria">Palería</option>
                                <option value="ferreteria">Ferretería</option>
                                <option value="abarrotes">Abarrotes</option>
                                <!-- Agrega más opciones según sea necesario -->
                            </select>
                        </div>
                        <div class="from-group">
                            <input type="text" name="precio" placeholder="Precio" class="form-control">
                        </div>
                        <div class="from-group">
                            <label for="unidadMedida">
                                <span style="font-size: 1.2em;">Unidad de Medida</span>
                                <span style="font-size: 0.8em;">👀si el campo es Metro o Kilo se supondra que es "1":</span>
                            </label>
                            <select name="unidadMedida" class="form-control">
                                <option value="pieza">Metro</option>
                                <option value="kilo">Kilo</option>
                                <option value="litro">Unidad</option>
                                <!-- Agrega más opciones según sea necesario -->
                            </select>
                        </div>
                    
                  
                        <button type="submit" class="btn btn-success">
                            Guardar producto
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>N</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>unidadMedida</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(productos){ %>
                        <% for (let i=0; i < productos.length; i++){ %>
                            <tr>
                                <td><%= (i+1) %></td>
                                <td><%= productos[i].nombre %></td>
                                <td><%= productos[i].categoria.slice(0, 35) + '...' %></td>
                                <td>S/<%= productos[i].precio %></td>
                                <td><%= productos[i].unidadMedida %></td>
                    
                                
                                <!-- <td>
                                    <img src="<%= productos[i].img_url %>" alt="Imagen del producto" class="img-thumbnail">
                                </td> -->
                                
                               
                                <td>
                                    <a href="productos/delete/<%= productos[i].id %>" class="btn btn-danger">Eliminar</a>
                                    <a href="productos/update/<%= productos[i].id %>" class="btn btn-info">Editar</a>
                                </td>
                              
                            </tr>
                        <% } %>
                    <% }  %>
                </tbody>
                
            </table>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
